<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>ECS-1 Multimedia</title>
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          CODSE22.2P
        </a>
      </div>
    </nav>
    <div class="col">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Virtual Classroom</h5>
            <p class="card-text">All the recordings for past virtual classrooms</p>
            <a href="/mm-ecs1-vc" class="btn btn-primary">Access Virtual Classrooms</a>
          </div>
        </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Other Multimedia</h5>
          <p class="card-text">All the other types of multimedia for the module</p>
          <a href="/mm-ecs1-other" class="btn btn-primary">Access Other Multimedia</a>
        </div>
      </div>
      <div>
        <a class="btn btn-primary" href="/multimedia" role="button">Return back to Multimedia</a>
      </div>
    </div>
  </body>
 </html>