<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Home</title>
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          CODSE22.2P
        </a>
      </div>
    </nav>
    <div class="row">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Welcome!</h4>
        <p>This website is created for the students of CODSE22.2P to easily access notes, past papers and videos.</p>
        <hr>
        <p class="mb-0">Please Note: This is only an alternative. Use <a href="https://lms.nibmworldwide.com/login/index.php">LMS</a> as much as you can.</p>
      </div>
    </div>
    <div>
      <p>  <a href="https://nibm-my.sharepoint.com/:x:/g/personal/thisara_nibm_lk/EXT-auPDsU1Bpl28Xmy0QzUBta4F4b8KjpSPdx1L9qIpLw?e=4O6ezW">Click here</a> for Lecture Schedules.</p>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Notes</h5>
          <p class="card-text">All the notes for the modules</p>
          <a href="/notes" class="btn btn-primary">Access Notes</a>
        </div>
      </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Videos</h5>
        <p class="card-text">All the videos for the modules</p>
        <a href="/videos" class="btn btn-primary">Access Videos</a>
      </div>
    </div>
    </div>
    <div class="alert alert-danger" role="alert"> The Notes are still on development. Sorry for the inconvenience.
    </div>
    <div class="alert alert-success" role="alert"> Open for suggestions. Please send them through <a href="https://wa.me/+94726407655">WhatsApp</a>.
    </div>
  </body>
</html>
