<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Videos</title>
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          CODSE22.2P
        </a>
      </div>
    </nav>
    <div class="col">
      <div class="col">
        <div class="row">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Introduction to Computer Science</h5>
              <h6 class="card-subtitle mb-2 text-muted">CODSE22.2P/ICS</h6>
              <p class="card-text">Lecturer: K.V. Narangoda</br>
              Lecturer: Bhashitha Prasanga</br>
              Lecturer: I.R.M.C.J. Rajapaksa</br>
              Lecturer: R.V. Sahabandu</br>
              Lecturer: T.S.P. Weerasinghe</br>
              <a href="/mm-ics" class="card-link">Click here for multimedia</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Programming Fundamentals</h5>
              <h6 class="card-subtitle mb-2 text-muted">CODSE22.2P/PF</h6>
              <p class="card-text">Lecturer: T.S.P.Weerasinghe</p>
              <a href="/mm-pf" class="card-link">Click here for multimedia</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Effective Communication Skills-1</h5>
              <h6 class="card-subtitle mb-2 text-muted">CODSE22.2P/ECS-1</h6>
              <p class="card-text">Lecturer: B.A.U.Hapuarachchi</p>
              <a href="/mm-ecs1" class="card-link">Click here for multimedia</a>
            </div>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" href="/" role="button">Return back to Home</a>
    </div>
</body>