<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <title>PF Notes</title>
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          CODSE22.2P
        </a>
      </div>
    </nav>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Reference Materials</h5>
          <p>• <a href="https://nibm-my.sharepoint.com/:b:/g/personal/codse222p-026_student_nibm_lk/ETeUrOWEWmpBu7Fvfla1J7gBVNKG6jcEGPr1eEYmWXrBWQ?e=8KRWzi" target="_blank">Module Descriptor</a></p>
          <p>• <a href="https://nibm-my.sharepoint.com/:o:/g/personal/codse222p-026_student_nibm_lk/Euq6g4dBj0REhezESzQaXvwBtVDE8ha9yYv47CmLBnD8Fg?e=WScE1v" target="_blank">Short Note</a></p>
          <p>• <a href="https://nibm-my.sharepoint.com/:b:/g/personal/codse222p-026_student_nibm_lk/ETgqgvTy-AtFg-VlY9171L8BNdifmzARHCgfOK30I7vezQ?e=Eyu9bi" target="_blank">Operator Procedence Table</a></p>
          <p>• <a href="https://nibm-my.sharepoint.com/:b:/g/personal/codse222p-026_student_nibm_lk/Ed78h0mrsLNIsU6WCceCE50BIxJrYM0D2BU6fMe-EX7X2A?e=VsypiN" target="_blank">Practical Guide</a></p>
          <p>• <a href="https://nibm-my.sharepoint.com/:b:/g/personal/codse222p-026_student_nibm_lk/EYTF0w_e_UFBqCduOoze4Z0BxobWc2kzRCQWzJ_rvTeaHw?e=N4X3l6" target="_blank">Head First C Language by David Griffiths & Dawn Griffiths</a></p>
          <p>• <a href="https://nibm-my.sharepoint.com/:b:/g/personal/codse222p-026_student_nibm_lk/EVQCOCHOqz1Epr5HaedYOHoBiGl26tyDpr6PK55L7pak-w?e=fjhEVX" target="_blank">C How to Program by H.M.Deitel & P.J.Deitel</a></p>
          <p>• <a href="https://nibm-my.sharepoint.com/:b:/g/personal/codse222p-026_student_nibm_lk/EYDS75N2oUVIg3iiRK2usv0BfDCsciUULIrdMHt9hnlORQ?e=yKv5b1" target="_blank">The C Programming Language by Brian W.Kernighan & Dennis M.Ritchie</a></p>
        </div>
      </div>
      <a class="btn btn-primary" href="/notes" role="button">Return back to Notes</a>
    </div>
