<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>PF Virtual Clasroom</title>
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          CODSE22.2P
        </a>
      </div>
    </nav>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">22nd January 2023</h5>
          <h6 class="card-subtitle mb-2 text-muted">13:00-14:30</h6>
          <a href="https://nibm-my.sharepoint.com/:v:/g/personal/codse222p-026_student_nibm_lk/EQciv9rg9jdJpcrqWZQBVE8Bqv9A7hpvm5tXlfpsmZ7HcQ?e=OcKnZS" class="card-link">Onedrive</a>
          <a href="https://bx1.lithium.lk/playback/presentation/2.3/54d3ffb8cb30f607bc41db0d3e81d30400f97221-1674372612191" class="card-link">LMS</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">22nd January 2023</h5>
          <h6 class="card-subtitle mb-2 text-muted">17:00-18:30</h6>
          <a href="https://nibm-my.sharepoint.com/:v:/g/personal/codse222p-026_student_nibm_lk/EWS5bKV63YNFvnEfM6aV1_UB2kEIWcqF_yYPNh1FmZTKlw?e=59zPf0" class="card-link">Onedrive</a>
          <a href="https://bx1.lithium.lk/playback/presentation/2.3/54d3ffb8cb30f607bc41db0d3e81d30400f97221-1674384897826" class="card-link">LMS</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">29th January 2023</h5>
          <h6 class="card-subtitle mb-2 text-muted">13:00-14:30</h6>
          <a href="https://nibm-my.sharepoint.com/:v:/g/personal/codse222p-026_student_nibm_lk/EekfY-kH885AnT7n-dmZgIMBFfFy80XNSWBye-8yzcvWrw?e=nJvQ2b" class="card-link">Onedrive</a>
          <a href="https://bx1.lithium.lk/playback/presentation/2.3/54d3ffb8cb30f607bc41db0d3e81d30400f97221-1674977407125" class="card-link">LMS</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">29th January 2023</h5>
          <h6 class="card-subtitle mb-2 text-muted">17:00-18:30</h6>
          <a href="https://nibm-my.sharepoint.com/:v:/g/personal/codse222p-026_student_nibm_lk/ERDcE4AZJSVGjMNdiGIZ45sBv4xjEuD00gncQlZg3gzE4g?e=xwzaAt" class="card-link">Onedrive</a>
          <a href="https://bx1.lithium.lk/playback/presentation/2.3/54d3ffb8cb30f607bc41db0d3e81d30400f97221-1674991829130" class="card-link">LMS</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">12th February 2023</h5>
          <h6 class="card-subtitle mb-2 text-muted">11:00-13:00</h6>
          <a href="#" class="card-link">Onedrive</a>
          <a href="https://bx1.lithium.lk/playback/presentation/2.3/54d3ffb8cb30f607bc41db0d3e81d30400f97221-1676179808067" class="card-link">LMS</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">12th February 2023</h5>
          <h6 class="card-subtitle mb-2 text-muted">14:30-16:30</h6>
          <a href="#" class="card-link">Onedrive</a>
          <a href="#" class="card-link">LMS</a>
        </div>
      </div>
      <a class="btn btn-primary" href="/mm-pf" role="button">Return back to PF Multimedia</a>
    </div>
  </body>
 </html> 